.container-projects {
  background-color: $dark-green-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h2 {
    color: #ffffff;
    margin: 6rem 0 5rem;

    img {
      width: 1.75rem;
      height: 100%;
      margin-right: 1rem;
    }
  }

  .container-background {
    background-color: $white-background-color;
    border-top-left-radius: 3rem;
    display: flex;
    flex-direction: column;

    .btn-github {
      padding: 1rem 2.5rem;
      font-size: 1rem;
      margin: 2rem auto;
      min-width: 15rem;
    }
  }

  &-list {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr;
    background-color: $white-background-color;
    border-top-left-radius: 3rem;
    margin-top: 2rem;

    .card-project {
      display: grid;
      word-break: break-word;
      grid-template-columns: 3fr 1fr;
      max-width: 39.25rem;
      background-color: $gray-background-color;
      min-height: 8rem;
      margin: 2rem 1rem 0rem;
      align-items: flex-start;
      text-align: start;
      border-radius: 3rem;
      align-self: center;
      justify-self: center;

      .body {
        padding: 1rem 1.5rem;

        .project-title {
          p {
            font-size: 1.125rem;
            font-weight: 600;
          }
        }
        .project-description {
          margin-top: 0.5rem;
          p {
            font-size: 0.75rem;
            font-weight: 300;
          }
        }
        &-footer {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-top: 1rem;
        }

        .btn-project {
          padding: 0.25rem 0.5rem;
          font-size: 0.5rem;
          margin-left: 1rem;
          //   justify-self: flex-end;
          //   align-self: flex-end;
        }
        .date {
          display: flex;
          align-items: center;
          .btn-date {
            background-color: $secondary-color;
            color: #ffffff;
            padding: 0.25rem 0.75rem;
            span {
              font-size: 1rem;
            }
          }
          p {
            margin-left: 1rem;
            font-weight: 300;
            font-size: 0.625rem;
          }
        }
      }
      .footer {
        background-color: $blue-color;
        color: #ffffff;
        height: 100%;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        word-wrap: break-word;
        padding: 0.5rem;
        text-align: center;
        flex-direction: column;
      }
    }
  }
}

@media (min-width: 800px) {
  .container-projects-list {
    justify-content: center;
    align-items: center;
    text-align: center;

    .card-project {
      border-radius: 1rem;

      .body-footer {
        justify-content: flex-start;

        .btn-project {
          padding: 0.75rem 1.5rem;
          font-size: 0.75rem;
        }

        .date p {
          font-size: 0.75rem;
        }
      }
    }
  }
}

@media (min-width: 1080px) {
  .container-projects {
    h2 {
      margin: 6rem 0;
    }
  }
  .container-projects-list {
    .card-project {
      .body {
        .project-title {
          p {
            font-size: 1.75rem !important;
          }
        }
        .project-description {
          p {
            font-size: 1rem !important;
          }
        }
        .date p {
          font-size: 0.875rem !important;
        }
      }
      .footer {
        p {
          font-size: 1.5rem !important;
        }
      }
    }
  }
  .btn-github {
    p {
      font-size: 1.5rem;
    }
  }
}

@media (min-width: 1200px) {
  .container-projects {
    h2 {
      img {
        width: 3rem !important;
      }
    }
  }
}

@media (min-width: 1400px) {
  .container-projects-list {
    grid-template-columns: 1fr 1fr;
    padding-top: 3rem;

    .card-project {
      width: 39.25rem;
      align-self: flex-start;
    }
  }

  .container-background {
    .btn-github {
      align-self: flex-end;
      margin-right: calc((100vw - 2 * 40rem) / 2) !important;
    }
  }
}
