$primary-color: #3c908d;
$secondary-color: #ade1e5;
$ternary-color: #ade5e2;
$title-color: #221e41;
$text-gray-color: #757384;
$purple-color: #5d65a9;
$blue-color: #4c58c5;
$dark-blue-color: #3a407a;
$light-green-color: #78c3c9;
$white-background-color: #fafaff;
$gray-background-color: #f3f4f9;
$dark-green-color: #5da9a6;
$dark-blue-background-color: #3c4e90;
