@import './colors.scss';
@import './buttons.scss';
@import './fonts.scss';
@import './landing/landing.scss';
/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  padding: 0;
}
