@import './colors.scss';
@import './buttons.scss';
@import './fonts.scss';
@import './home/landing.scss';
@import './home/landing_blog.scss';
@import './home/landing_project.scss';
@import './home/landing_contact.scss';
@import './navbar/navbar.scss';
@import './blog/blog.scss';
@import './animations/animations.scss';
/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  min-height: 100%;
  background-color: $white-background-color;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  padding: 0;
}

a {
  text-decoration: none !important;
  color: inherit;
}

div,
button,
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  // -webkit-user-select: none;
  // -khtml-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
}

a {
  cursor: pointer;
}
