@import './colors.scss';
@import './buttons.scss';
@import './fonts.scss';
@import './home/landing.scss';
@import './home/landing_blog.scss';
@import './navbar/navbar.scss';
/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  padding: 0;
}

div,
button {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
